header{
    text-align: center;
    border: 1px solid;
    padding: 15px;
}

.confirm{
    text-align: center;
    width: 400px;
    margin: auto;
}

.confirm_left{
    text-align: left;
    width: 200px;
    display: inline-block;
}
.confirm_left .contents{
    margin: 20px;
}

.insert{
    margin: 20px;
}
.confirm_right{
    display: inline-block;
    float: right;
    text-align: left;
    width: 200px;
    
}
.confirm_right .insert{
    margin: 15px;
}
.buttons{
    
    width: 100%;
    text-align: center;
   
}
.buttons .button1{
    display: inline-block;
    margin-right: 40px;
}
.buttons .button2{
    display: inline-block;
    margin-left: 40px;
}


footer{
    text-align: center;
    margin-bottom: 0px;
    padding: 15px;
    border: 1px solid;
    
}
main{
     border: 1px solid;
}