header{
    text-align: center;
    border: 1px solid;
    padding: 15px;
    width: 98.4%;
}

main{
    border-right: 1px solid;
    border-left: 1px solid;
    height: 80%;
    width: 100%;
    text-align: center;
}
.abc{
    float: left;
    font-size: 20px;
    margin-left: 60px;
    font-weight: 700px;
    text-align: center;
}
.touroku{
    font-weight: 700px;
    font-size: 30px;
    padding-top: 10%;
    text-align: center;
}
.top{
    background-color: white;
    margin-top: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    display: inline-block;
}
footer{
    text-align: center;
    margin-bottom: 0px;
    padding: 15px;
    border: 1px solid;
    width: 98.4%;
}
body{
    height: 100%;
}
html{
    height: 100%;
}