header{
    text-align: center;
    border: 1px solid;
    padding: 15px;
}
.a{
    padding-left: 70px;
    font-size: 20px;
    font-weight: 700;
}
h1{
    display: inline-block;
    margin: 0;
}
.confirm{
    text-align: center;
    width: 100%; 
}

.confirm_left{
    text-align: left;
    width: 20%;
    display: inline-block;
}
.confirm_left .contents{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 200px;
    
}


.confirm_right{
    display: inline-block;
    text-align: left;
    width: 20%;
}
.confirm_right .insert{
    margin-top: 25px;
    margin-bottom: 25px;

}
.buttons{
    width: 100%;
    text-align: center;
   
}
.buttons .button1{
    display: inline-block;
    margin-right: 40px;
    
}
.button1 .back{
    background-color: white;
    padding: 20px 75px;
}

.buttons .button2{
    display: inline-block;
    margin-left: 40px;
}
.buttons .button3{
    display: inline-block;
    background-color: white;
    padding: 20px 75px;
    margin-top: 30px;
}

.button2 .touroku{
    background-color: white;
    padding: 20px 75px;
}
footer{
    text-align: center;
    margin-bottom: 0px;
    padding: 15px;
    border: 1px solid;
    
}
main{
     border-left: 1px solid;
    border-right: 1px solid;
    height: 90%;
}
body{
    height: 88%;
}
html{
    height: 100%;
}
.bottun1{
    margin-left: 60px;
}
