html{
    height: 100%;
}
footer{
    text-align: center;
    margin-top: auto;
    margin-bottom: 0px;
    padding: 15px;
    border: 1px solid ;
}
body{
    height: 100%;
}
header{
    
    text-align: center;
    border: 1px solid;
    padding: 20px;
}
main{
    margin-top: -20px;
    border-right: 1px solid;
    border-left: 1px solid;
    height: 80%;
    
}
table{
    margin:3px auto;
    text-align: center;
}
table td{
    padding: 3px;
}
h3{
    margin-left: 3%;
}
main .list{
    
    width: 100%;
}

.table{
    margin-bottom: 50px;
}
