html{
    height: 100%;
}
.a{
    margin-left: 70px;
    font-size: 20px;
    font-weight: 700;
}
.b{
    margin-left: 70px;
}
header{
    text-align: center;
    border: 1px solid;
    padding: 15px;
}
form{
    text-align: center;
    display: block;
    margin: auto;
    width: 400px;    
}
.contents .text{
    border: 2px solid;
}
.contents .text1{
    border: 2px solid;
}
.contents .text2{
    border: 2px solid;
}
.contents .text3{
    border: 2px solid;
}
.contents .text4{
    border: 2px solid;
}
.contents .yubin{
    border: 2px solid;
}
main{
    border-right: 1px solid;
    border-left: 1px solid;
    height: 80%;
}
body{
    height: 100%;
}
.contents{

    text-align: left;
}
.text{
    margin: 5px 0px 5px 44px;
}
.text1{
    margin: 5px 0px 5px 11px;
}
.text2{
    margin: 5px 0px 5px 43px;
}
.radio{
    margin: 5px 0px 5px 90px;
}
.text3{
    margin: 5px 0px 5px 13px;
}
.text4{
    margin: 5px 0px 5px 45px;
}
.text5{
    margin: 5px 0px 5px 12px;
    border: 2px solid;
}
.text6{
    margin: 5px 0px 15px 15px;
    border: 2px solid;
}
.yubin{
    margin: 5px 0px 15px 60px;
}

/*ラベルの方にも大きさを設定し、マージンでそろえることで右側のテキストが揃えられるはず*/
.kakunin{
    padding: 35px;
}
.bottun{
    padding: 20px 75px;
    background-color: white;
    margin-top: -250px;
}
.bottun1{
    float: right;
}
footer{
    text-align: center;
    margin-top: auto;
    margin-bottom: 0px;
    padding: 15px;
    border: 1px solid ;
}

#error1{
    font-size: 15px;
    margin-left: 130px;
    color: red;
    
}
#error2{
    font-size: 15px;
    color: red;
    margin-left: 130px;
}
#error3{
    font-size: 15px;
    color: red;
    margin-left: 130px;
}
#error4{
    font-size: 15px;
    color: red;
    margin-left: 130px;
}
#error5{
    font-size: 15px;
    color: red;
    margin-left: 130px;
}
#error6{
    font-size: 15px;
    color: red;
    margin-left: 130px;
}
#error7{
    font-size: 15px;
    color: red;
    margin-left: 130px;
}
#error8{
    font-size: 15px;
    color: red;
   margin-left: 130px;
}
#error9{
    font-size: 15px;
    color: red;
    margin-left: 130px;
}
#error10{
    font-size: 15px;
    color: red;
    margin-left: 130px;
}
#error11{
    font-size: 15px;
    color: red;
    margin-left: 130px;
}
#error12{
    color: red;
    margin-left: 130px;
    font-size: 15px;
}
.authority{
    margin-left: 10px;
    border: 2px solid black;
}
.pass{
    margin-left: 45px;
    display: inline-block;
}
.pass2{
    margin-left: 320px;
    
    padding: 3px;
}


